.ui-title {
    margin: 0.1em 8% 0.1em !important;
}
div.navBulletsWrapper {
    display:none;
}
/* Map Style */
#mapsunderland {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
#maplondon {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
#mapholder {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
#direction {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
#directionlondon {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Filter Effects */

nav {
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: .75em 0 .5em;
}

#filterButtons {
    text-align: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 .5em;
}
.filter {
    display: inline-block;
    margin: 3px 8px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px #000;
    height: 72px;
    width: 72px;
    cursor: pointer;
    background: url("Images/effects-thumbs.png") no-repeat 0 0;
    background-size: cover;
}
.filter:hover {
    box-shadow: 0 0 12px #f08;
}
.filter:first-of-type {
    background-position: 0 0;
}
.filter:nth-of-type(2) {
    background-position: -73px 0;
}
.filter:nth-of-type(3) {
    background-position: -146px 0;
}
.filter:nth-of-type(4) {
    background-position: -219px 0;
}
.filter:nth-of-type(5) {
    background-position: -292px 0;
}
.filter:nth-of-type(6) {
    background-position: -365px 0;
}
.filter:nth-of-type(7) {
    background-position: -438px 0;
}
.filter:nth-of-type(8) {
    background-position: -511px 0;
}
.filter:nth-of-type(9) {
    background-position: -584px 0;
}

.filter-tag {
    color: #fff;
    font-size: .8em;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    padding-top: 58px;
}